[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-rtmidi = "~=1.4"
mido = "~=1.2"
simconnect = "~=0.4"
docopt = "~=0.6"
colorama = ">=0.4.6, <0.5"

[dev-packages]
pytest = "~=7.2"
black = "*"
pyinstaller = "~=5.7"
pip = "*"
setuptools = "*"
build = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
